<div class="form-group <%= className %>">

    <label class="property-label"><%= options.label %></label>
    <textarea <%- attributes %> type="text" name="<%= name %>" class="form-control"><%= value %></textarea>

</div>