<div class="form-group <% if (typeof className !== 'undefined') { %><%= className %><% } %>">

    <%if(options.label) {%>
    <label class="property-label"><%= options.label %></label>
    <%}%>
    <input <%- attributes %> type="password" name="<%= name %>" value="<%= value %>" class="form-control">

</div>