<div class="form-group <%= className %>">

    <label for="<%= name %>" class="property-label"><%= options.label %></label>
    <input type="text" class="form-control" name="<%= name %>" value="<%= value %>">

</div>