<div class="form-group <%= className %>">

    <%if(options.label) {%>
    <label class="property-label"><%= options.label %></label>
    <%}%>js/s

    <select <%- attributes %> name="<%= name %>" class="form-control">
        <% Object.keys(options.choices).forEach(function (id) { %>
        <option <% if(value && value === id) { %>selected="selected"
                <% } %>
                value="<%= id %>"><%= options.choices[id] %></option>
        <% }) %>
    </select>

</div>