<div class="handbid-form login-form">
    <h2>Login</h2>

    <form class="form" method="<%- form.method %>" action="<%- form.action %>" enctype="<%- form.enctype %>">

        <% rows.forEach(function (properties) { %>

        <% hidden = []; %>

        <div class="row">

            <% properties.forEach(function (property) { %>
            <%- rendered[property.name] %>
            <% }); %>

        </div>

        <% }); %>

        <div class="modal-footer">
            <button type="submit" class="btn btn-info">Login</button>
            <a class="btn btn-connect fb-connect" href="/auth/facebook">Login with Facebook</a>
        </div>

        <input type="hidden" name="altair-form-id" value="<%= form.id %>"/>

        <% hiddenProperties.forEach(function (property) { %>

        <%- rendered[property.name] %>

        <% }); %>

    </form>

    <hr/>
    <h2>Manager Login</h2>
    <a class="btn btn-info btn-manager" href="http://handbid.com/manager/dashboard">Manager Login</a>

</div>

